/* src/components/Images-Carousels/CarouselDisplay.css */

.carousel-scroll-wrapper {
  display: flex; /* fill remaining space inside wrapper */
  flex: 1;
  flex-direction: column;
  overflow: hidden; /* prevents overflow from preview */
}

.carousel-display-content {
  display: flex;
  flex-direction: column;
}

.carousel-list {
  flex: 1 1 300px; /* list can grow but takes up space */
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.carousel-preview {
  flex: 1; /* take remaining width */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel-preview img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 6px;
}

.carousel-row {
  color: var(--color-white);
  font-size: var(--font-size-sm);
  font-family: var(--font-family-dashboard);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
}

.carousel-row.selected {
  border: 2px solid blue;
}

.carousel-symbol {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.carousel-filename,
.carousel-type,
.carousel-size {
  margin-right: 1rem;
}

.carousel-delete {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.carousel-preview img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 6px;
}

.carousel-display-wrapper {
  border: 1px solid #ccc;
  border-radius: 6px;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.carousel-display-header {
  max-width: 1024px;
  display: flex;
  margin: 0 auto;
}
.spaceing {
  flex: 1;
}
.carousel-grid {
  display: flex;
  flex-wrap: wrap; /* allow multiple rows */
  gap: 0.5rem;
  max-height: 400px; /* optional, for vertical scroll */
  overflow-y: auto; /* scroll vertically if needed */
}

.carousel-filename {
  flex: 2; /* takes available space */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.carousel-type {
  flex: 1;
}
.carousel-size {
  flex: 1;
}
