/* frontend/src/styles/pages.css */
/*Page-specific styling for pages */

h1 {
  color: var(--primary-color);
  /*margin-bottom: 1rem;*/
}

section {
  border: 2px dashed var(--secondary-color);
  padding: 1rem;
  margin-bottom: 1rem;
  color: white;
}
