/* frontend/src/styles/pages.css */
/*Page-specific styling for pages */

h1 {
  color: var(--color-primary);
  /*margin-bottom: 1rem;*/
}

/*section {
  border: 2px dashed var(--color-secondary);
  padding: 1rem;
  margin-bottom: 1rem;
  color: white;
}*/
